.version.index /* version checker */
{
	color: #00001C;
	background-color: #DD7A64;
}

#page
{
	border-width: 0px;
	margin-left: auto;
	background-color: transparent;
	z-index: 1;
	background-image: none;
	border-color: #000000;
	width: 100%;
	margin-right: auto;
}

#slideshowu4033
{
	margin-right: -10000px;
	z-index: 2;
	width: 0.01px;
	position: relative;
}

#u4051
{
	position: absolute;
	background-color: transparent;
}

#u4051popup
{
	z-index: 3;
}

#u4763
{
	border-color: transparent;
	margin-right: -10000px;
	background-color: transparent;
	z-index: 4;
	border-width: 0px;
	position: relative;
}

#u6504
{
	border-color: transparent;
	margin-right: -10000px;
	background-color: transparent;
	z-index: 6;
	border-width: 0px;
	position: relative;
}

#u6546
{
	border-color: transparent;
	margin-right: -10000px;
	background-color: transparent;
	z-index: 8;
	border-width: 0px;
	position: relative;
}

#u6588
{
	border-color: transparent;
	margin-right: -10000px;
	background-color: transparent;
	z-index: 10;
	border-width: 0px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton
{
	cursor: pointer;
}

.SSSlideLoading
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu2695
{
	margin-right: -10000px;
}

#u2695
{
	margin-left: 50%;
	background-color: transparent;
	z-index: 37;
	position: relative;
}

#u3710
{
	z-index: 38;
	display: block;
}

#u2811-4
{
	text-align: center;
	line-height: 12px;
	color: #CD9700;
	background-color: transparent;
	letter-spacing: 3px;
	margin-left: 50%;
	font-family: comfortaa, sans-serif;
	font-size: 10px;
	font-weight: 300;
	z-index: 39;
	position: relative;
}

#u230-5
{
	margin-right: -10000px;
	font-size: 20px;
	line-height: 24px;
	color: #CD9700;
	background-color: transparent;
	margin-left: 50%;
	font-family: abel, sans-serif;
	min-height: 31px;
	font-weight: 400;
	z-index: 21;
	text-align: center;
	position: relative;
}

#u113
{
	margin-right: -10000px;
	margin-left: 50%;
	background-color: transparent;
	z-index: 12;
	position: relative;
}

#u137-5
{
	margin-right: -10000px;
	font-size: 20px;
	line-height: 24px;
	color: #CD9700;
	background-color: transparent;
	margin-left: 50%;
	font-family: abel, sans-serif;
	min-height: 31px;
	font-weight: 400;
	z-index: 16;
	text-align: center;
	position: relative;
}

#u130
{
	margin-right: -10000px;
	margin-left: 50%;
	background-color: transparent;
	z-index: 14;
	position: relative;
}

#u242-5
{
	margin-right: -10000px;
	font-size: 20px;
	line-height: 24px;
	color: #CD9700;
	background-color: transparent;
	margin-left: 50%;
	font-family: abel, sans-serif;
	min-height: 31px;
	font-weight: 400;
	z-index: 26;
	text-align: center;
	position: relative;
}

#u2355
{
	margin-right: -10000px;
	margin-left: 50%;
	background-color: transparent;
	z-index: 31;
	width: 9px;
	position: relative;
}

#u3745
{
	display: block;
	z-index: 32;
	margin-bottom: 3px;
}

#u2363
{
	margin-right: -10000px;
	margin-left: 50%;
	background-color: transparent;
	z-index: 33;
	width: 25px;
	position: relative;
}

#u3756
{
	z-index: 34;
	display: block;
}

#u2377
{
	margin-right: -10000px;
	margin-left: 50%;
	background-color: transparent;
	z-index: 35;
	width: 20px;
	position: relative;
}

#u3767
{
	z-index: 36;
	display: block;
}

.html
{
	background-color: #000000;
}

body
{
	position: relative;
	padding-top: 1px;
}

@media (min-width: 769px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 1000px;
		max-width: 1400px;
	}

	#slideshowu4033
	{
		height: 1001px;
		margin-top: -1px;
	}

	#u4051,#u4763,#u6504,#u6546,#u6588
	{
		width: 1400px;
		height: 1001px;
	}

	#u230-5
	{
		width: 141px;
		margin-top: 378px;
		left: -387px;
	}

	#pu2695
	{
		margin-top: 58px;
		width: 22.65%;
		margin-left: 38.68%;
	}

	#u2695
	{
		width: 287px;
		left: -142.5px;
	}

	#u2811-4
	{
		width: 300px;
		min-height: 18px;
		margin-top: 87px;
		left: -150.5px;
	}

	#pu113
	{
		margin-top: 69px;
		width: 77.29%;
		margin-left: 11.36%;
	}

	#u113
	{
		width: 25px;
		left: -167.5px;
	}

	#u137-5
	{
		width: 141px;
		margin-top: 15px;
		left: -63.50000000000001px;
	}

	#pu2355
	{
		margin-top: 82px;
		width: 54.58%;
		margin-left: 22.72%;
	}

	#u2355
	{
		left: -87.49999999999999px;
	}

	#u2363
	{
		left: -13.499999999999986px;
	}

	#u2377
	{
		left: 66.50000000000001px;
	}

	#u130
	{
		width: 25px;
		margin-top: 363px;
		left: 158px;
	}

	#u242-5
	{
		width: 141px;
		margin-top: 378px;
		left: 262px;
	}

}

@media (min-width: 401px) and (max-width: 768px)
{
	#muse_css_mq
	{
		background-color: #000300;
	}

	#bp_768.active
	{
		display: block;
	}

	#page
	{
		min-height: 1023px;
		padding-bottom: 1px;
		max-width: 768px;
	}

	#slideshowu4033
	{
		height: 1023px;
	}

	#u4051,#u4763,#u6504,#u6546,#u6588
	{
		width: 768px;
		height: 1023px;
	}

	#u230-5
	{
		width: 91px;
		margin-top: 354px;
		left: -246px;
	}

	#pu2695
	{
		padding-bottom: 0px;
		margin-top: 92px;
		width: 38.68%;
		margin-left: 30.67%;
	}

	#u2695
	{
		width: 257px;
		left: -129.5px;
	}

	#u2811-4
	{
		width: 297px;
		min-height: 18px;
		margin-top: 63px;
		left: -149.5px;
	}

	#pu113
	{
		margin-top: 64px;
		width: 72.73%;
		margin-left: 13.64%;
	}

	#u113
	{
		width: 16px;
		left: -109px;
	}

	#u137-5
	{
		width: 91px;
		left: -46px;
	}

	#u130
	{
		width: 16px;
		left: 91px;
	}

	#pu2355
	{
		margin-top: 59px;
		width: 58.25%;
		margin-left: 20.88%;
	}

	#u2355
	{
		left: -87.5px;
	}

	#u2363
	{
		left: -13.5px;
	}

	#u2377
	{
		left: 66.5px;
	}

	#u242-5
	{
		width: 91px;
		margin-top: 354px;
		left: 155px;
	}

}

@media (max-width: 400px)
{
	#muse_css_mq
	{
		background-color: #000190;
	}

	#bp_400.active
	{
		display: block;
	}

	#page
	{
		min-height: 683px;
		max-width: 400px;
	}

	#slideshowu4033
	{
		height: 684px;
		margin-top: -1px;
	}

	#u4051,#u4763,#u6504,#u6546,#u6588
	{
		width: 400px;
		height: 684px;
	}

	#pu2695
	{
		margin-top: 79px;
		width: 80%;
		margin-left: 10%;
	}

	#u2695
	{
		width: 226px;
		left: -113px;
	}

	#u2811-4
	{
		width: 226px;
		min-height: 22px;
		margin-top: 66px;
		left: -113px;
	}

	#pu230-5
	{
		margin-top: 63px;
		width: 100%;
		margin-left: 0%;
	}

	#u230-5
	{
		width: 91px;
		margin-top: 2px;
		left: -160px;
	}

	#u113
	{
		width: 16px;
		left: -65px;
	}

	#u137-5
	{
		width: 91px;
		margin-top: 2px;
		left: -44.99999999999999px;
	}

	#u130
	{
		width: 16px;
		left: 49.00000000000001px;
	}

	#u242-5
	{
		width: 91px;
		margin-top: 2px;
		left: 69px;
	}

	#pu2355
	{
		margin-top: 59px;
		width: 54.07%;
		margin-left: 22.97%;
	}

	#u2355
	{
		left: -87.5px;
	}

	#u2363
	{
		left: -13.499999999999993px;
	}

	#u2377
	{
		left: 66.5px;
	}

	body
	{
		min-width: 320px;
	}

}

