	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 1000px;
		max-width: 1400px;
	}

	#slideshowu4033
	{
		height: 1001px;
		margin-top: -1px;
	}

	#u4051,#u4763,#u6504,#u6546,#u6588
	{
		width: 1400px;
		height: 1001px;
	}

	#u230-5
	{
		width: 141px;
		margin-top: 378px;
		left: -387px;
	}

	#pu2695
	{
		margin-top: 58px;
		width: 22.65%;
		margin-left: 38.68%;
	}

	#u2695
	{
		width: 287px;
		left: -142.5px;
	}

	#u2811-4
	{
		width: 300px;
		min-height: 18px;
		margin-top: 87px;
		left: -150.5px;
	}

	#pu113
	{
		margin-top: 69px;
		width: 77.29%;
		margin-left: 11.36%;
	}

	#u113
	{
		width: 25px;
		left: -167.5px;
	}

	#u137-5
	{
		width: 141px;
		margin-top: 15px;
		left: -63.50000000000001px;
	}

	#pu2355
	{
		margin-top: 82px;
		width: 54.58%;
		margin-left: 22.72%;
	}

	#u2355
	{
		left: -87.49999999999999px;
	}

	#u2363
	{
		left: -13.499999999999986px;
	}

	#u2377
	{
		left: 66.50000000000001px;
	}

	#u130
	{
		width: 25px;
		margin-top: 363px;
		left: 158px;
	}

	#u242-5
	{
		width: 141px;
		margin-top: 378px;
		left: 262px;
	}


