	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 768px;
		width: 100%;
		max-width: 1400px;
	}

	#page_position_content
	{
		width: 100%;
	}

	#u755
	{
		min-height: 55px;
		padding-bottom: 6px;
	}

	#u755_align_to_page
	{
		max-width: 1399px;
	}

	#u6698
	{
		width: 827px;
		margin-top: 6px;
		margin-left: 50%;
		left: -415px;
	}

	#u757-5
	{
		width: 194px;
		margin-top: 13px;
		margin-left: 50%;
		left: -414px;
	}

	#u759
	{
		width: 22px;
		margin-left: 50%;
		left: -170px;
	}

	#u756-5
	{
		width: 194px;
		margin-top: 13px;
		margin-left: 50%;
		left: -97px;
	}

	#u3352
	{
		width: 22px;
		margin-left: 50%;
		left: 148px;
	}

	#u758-5
	{
		width: 194px;
		margin-top: 13px;
		margin-left: 50%;
		left: 220px;
	}

	#u755-bw
	{
		min-height: 55px;
	}

	#u7288
	{
		width: 75px;
		margin-top: 6px;
		margin-left: 79.79%;
	}

	#u7171
	{
		left: 26.67%;
	}

	#u7173
	{
		left: 73.34%;
	}

	#u2299
	{
		width: 732px;
		margin-top: 15px;
		margin-left: 50%;
		left: -366px;
	}

	#u2299_img
	{
		padding-right: 1px;
	}

	#u2292-4
	{
		width: 732px;
		min-height: 99px;
		margin-top: 18px;
		margin-left: 50%;
		left: -366px;
	}

	#u1181
	{
		width: 35px;
		margin-top: 17px;
		margin-left: 48.72%;
	}

	body
	{
		padding-bottom: 20px;
	}

